apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
spec:
  type: NodePort
  ports:
    - port: 9090
      targetPort: 8080
      nodePort: 30090
  selector:
    app: prometheus
